.header__icons {
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

@media(max-width: 990px) {
    .hidden-menu-mobile {
        display: block;
    }
    .hidden-menu-desktop {
        display: none;
    }
}


@media(min-width: 990px) {
    .hidden-menu-mobile {
        display: none;
    }
    .hidden-menu-desktop {
        display: block;
    }
}

/* Megamenu */

.link--level-parent {
    font-weight: 600!important;
    margin-bottom: 2rem!important;
    text-decoration: none;
}

.header__menu-item {
    font-size: 19px!important;
}

.mega-menu__content {
    padding-top: 1rem;
}
.mega-menu__content a {
    text-decoration: none;
}